*{
    padding:0px;
    margin:0px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: antiquewhite;
}
h1{
    padding:5px;
    margin: 5px;
}

main{
    margin: 5px;
    padding: 5px;
}