#buttom_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#light{
    text-align: center;
    color: black;
    padding: 10px;
}
#dark{
    text-align: center;
    color:white;
    padding: 10px;
}

#btn{
    border-radius: 50px;
    border-style: 5px solid;
    border-color: black;
}