* {
    box-sizing: border-box;
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(223, 148, 50);
}
h1{
    padding:5px;
    margin: 5px;
}

main{
    margin: 5px;
    padding: 5px;
}
button{
    margin: 10px;
}
