*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(187, 175, 157);
}

.amount {
    width: fit-content; /* or 200px etc */
    margin: 0 auto;
    padding: 20px;
}
.dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.from{
    margin: 10px;
}
.To{
    margin: 10px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;

}
body{
    background-color: rgb(216, 181, 136);
}
