div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: aqua;
    display: inline-block;
}

#box1{
    position: static;
    background-image: url(web.webp);
    background-size: cover;
}

#box2{
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 1;
    background-image: url(web.webp);
    background-size: contain;
}

#box3{
    position: sticky;
    top: 30px;
    background-image: url(web.webp);
    background-size: contain;
    background-repeat: no-repeat;
}

#box4{
    position: fixed;
    bottom: 0px;
    width: 100vw;
    left: 0px;
}