.calculator {
    border: 2px solid black;
    display: flex;
    flex-direction: column;   /* 🔑 REQUIRED */
    gap: 15px;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}
.top {
    display: flex;
    gap: 10px;
}

.top input {
    flex: 1;
}
.button_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
