div{
    height: 50px;
    width: 50px;
    background-color: aqua;
}

@media (max-width:300px){
    div{
        background-color: green;
    }
}

@media (min-width:300px) and (max-width:400px){
    div{
        background-color: rgb(185, 55, 153);
    }
}

@media (min-width:400px) and (max-width:600px){
    div{
        background-color: rgb(201, 27, 27);
    }
}
@media (min-width:600px){
    div{
        background-color: rgb(27, 73, 201);
    }
}

