*{
    padding: 0px;
    margin: 0px;
}
#header{
    background-color: #0f1111;
    height: 60px;
    width: 100%;
}
#header_content{
    list-style: none;
    display: flex;
}

#header_content li{
    display: inline;
    list-style: none;
    margin-right: 100px;
}

#logo{
    margin-left: 0px;
    color: #f08804;
    
}

#header_content li a, ul{
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
}




#searchbutton{
    background-color: #f08804;
    color: white;
    padding: 0px 5px 0px 5px;
\
}