*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
#heading{
    color: white;
    font-size: 20px;
}
button {
    background: none;
    border: 2px solid black;
    padding: 0;
    cursor: pointer;
    border-radius: 10px;
}

img{
    height: 50px;
    width: 50px;
     object-fit: contain;
}
#input_images{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;    
}
#rock{
    padding: 10px;
}
#paper{
    padding: 10px;
}
#scissor{
    padding: 10px;
}
#score{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;    
}
#You{
    padding: 10px;
}
#Computer{
    padding: 10px;
}
#score_computer{
    text-align: center;
}
#score_you{
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;    
}
#result{
    background-color: black;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 10px;
}