.app {
  min-height: 100vh;
  width: 100vw;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 90%;
    overflow: scroll;
}

.btn{
    margin: 10px;
    border-radius: 10px;
}


