#box1{
    height: 100px;
    width: 100px;
    background-color: rgb(240, 240, 16);
    display: flex;
    justify-content: center;
    align-items: center;
}


#box2{
    height: 50%;
    width: 50%;
    background-color: brown;
}